################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vscode
/src/mycontacts/bin/Debug
/src/mycontacts/obj
*.user
/src/mycontacts/Properties/PublishProfiles
